@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Color Vars */
$black: #000;
$blue: #1a66ff;
$lblue: #549bff;
$llblue: #a3c4ff;
$dblue: #214ccc;
$lbg: #fff;
$dbg: #1a1a2e;
$ltxt: #434343;
$dtxt: #fff;

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: $lbg;
  color: $ltxt;
  transition: background-color 150ms, color 150ms;
}

/* Navbar */
.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 130px;
  position: relative;

  &__link {
    text-decoration: none;
  }

  &__left {
    .nav__link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .logo {
      height: 40px;
    }

    .app-name {
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $blue;

      &:hover {
        color: $dblue;
      }
    }
  }

  &__center {
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .nav__link {
      margin: 0 15px;
      color: $ltxt;
      font-weight: 500;

      &:hover,
      &--active {
        color: $blue;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    .nav__link {
      color: $blue;
      font-weight: 500;

      &:hover {
        color: $dblue;
      }
    }
  }
}

/* Button Styles */
.btn {
  padding: 0.6em 0.9em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  text-decoration: none;
  font-weight: 450;

  &--primary {
    background: $blue;
    color: $lbg;
    margin-left: 15px;
    transition: 100ms background ease;

    &:hover {
      background: $dblue;
    }
  }

  &--large {
    padding: 0.8em 1em;
    font-size: 1em;
  }
}

.dark-mode-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 15px;
  color: $ltxt;
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 100px 20px;
  color: $black;

  h1 {
    font-size: 3.2rem;
    font-weight: 650;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 60px;
  }
}

/* Dark Mode */
body.dark-mode {
  background: $dbg;
  color: #e0e0e0;

  .app-name {
    color: $llblue;

    &:hover {
      color: $lblue;
    }
  }

  .nav {
    &__link {
      color: $dtxt;
    }
    &__center {
      .nav__link {
        color: $dtxt;

        &--active,
        &:hover {
          color: $llblue;
        }
      }
    }

    &__right {
      .nav__link {
        color: $llblue;

        &:hover {
          color: $lblue;
        }
      }
    }
  }

  .dark-mode-button {
    color: $dtxt;
  }

  .btn--primary {
    background: $lblue;
    color: $dbg;

    &:hover {
      background: $llblue;
    }
  }

  .hero-section {
    color: $dtxt;
  }
}
