@import "common";

body {
  background-color: $lbg;
  background-image: url("../img/svg/map.svg");
  background-repeat: no-repeat;
  background-position: center calc(100% + 40px);
  background-size: contain; // Or "cover" depending on the desired scaling
}

body.dark-mode {
  background-color: $dbg;
  background-image: url("../img/svg/map-dark.svg");
  background-repeat: no-repeat;
  background-position: center calc(100% + 40px);
  background-size: contain; // Or "cover" depending on the desired scaling
}
